
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Translator</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div class="translator-container">
        <h1>Language Translation</h1>
        <div class="language-selection">
            <select id="input-language" name="input-language">
                <option value="en">English</option>
                <!-- Add more languages as needed -->
            </select>
        </div>
        <form method="post">
            <textarea name="input_text" id="input-text" placeholder="Enter text to translate..."></textarea>
            <button id="translate-button" type="submit">⇄ <br>Translate</button>
        </form>
        <div class="language-selection">
            <select id="output-language" name="output-language">
                <option value="fr">French</option>
                <!-- Add more languages as needed -->
            </select>
        </div>
        <div id="output-text" class="translation" placeholder="Translation will appear here">{% if translation %}
        <p>{{ translation }}</p>
    {% endif %} </div>
    </div>
</body>
</html>
